
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_UILayoutNavbarComponent")

    @RenderBody()
    
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>